* {
  margin: 0;
  padding: 0;
}

body {
  width: 50vmin;
  margin-top: 50px;
  padding: 5%;
  padding-left: 25%;
  margin-right: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.photo {
  height: 470px;
  width: 350px;
  background: rgb(227, 228, 228);
  border: 5px solid rgba(100, 100, 100, 0.76);
  border-radius: 20px;
  position: absolute;

}

.photo div {
  font-size: 15px;
  text-align: center;
  font-weight: 100;
}

.old {
  margin: 15px;
  display: flex;
  justify-content: center;
  height: 250px;
  width: auto;
  background: rgb(255, 255, 255);
  border-radius: 10px;
}
img{
  margin: auto;
  height: 95%;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 160px;
  background: rgba(112, 112, 112, 0.76);
  color: #fff;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 15px;
}

.btn:hover {
  color: white;
  background-color: rgb(32, 32, 32);
  transition: all 0.5s ease;
}